@keyframes blurred-bg {
    0% {
      -webkit-filter: blur(0px);
    }
    
    100% {
      -webkit-filter: blur(4px);
    }
  }

.blurheader{
    text-align: center;
    width: 100%;
    height: 1000px;
color: white;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}

.headerimage{
    background-image: url('https://imgur.com/gWrAM8F.jpg');
    background-size: cover;
    background-position: bottom center;
    position: absolute;
    left: -15px;
    top: -15px;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    z-index: -1;
  /*   -webkit-filter: blur(4px); */
      -webkit-animation: blurred-bg 2s 1 forwards; 
      box-sizing: border-box;
}